:root{
  --primary-color: #022B3A;
  --secondary-color: #1F7A8C;
  --tertiary-color: #E01A4F;
  
  --accent-color-1: #F15946;
  --accent-color-hover-1: #ce4339;
  --accent-color-2: #F9C22E;

  --default-font-color: #ffffff;
}

.App {
  background-color: var(--primary-color);
  height: 100vw;
  text-align: center;
  color: var(--default-font-color);
}

.button{
  background-color: var(--accent-color-1);
  padding: .45rem .475rem;
  border-width: 1px;
  border-radius: .375rem;
  color: var(--default-font-color);
}

.button:hover {
  background-color: var(--accent-color-hover-1);
}